
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable = no, initial-scale=1.0 , maximun-scale=1.0, minimum-scale=1.0" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/EstilosPopUp.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2f08016506.js" crossorigin="anonymous"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <title>PopUp</title>
</head>

<body>
    <div class="container">
        <header class="row">
            <div class="col">
                <h3>Número de lectores diarios de los principales periódicos españoles en 2020</h3>
            </div>
        </header>

        <section class="contenedor-main row">
            <main class="col-md-7">
                <h2>
                    Graficos
                </h2>
                <p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.

                    It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                </p>
                </p>
            </main>
            <aside class="col-md-4">
                <h2>Ficha</h2>
            </aside>
        </section>
        <section class="row widgets">
            <div class="col-md-12">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived
                    not only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                    including versions of Lorem Ipsum.
                </p>
                <span id="leerMas" style="display:none;">
                    <p>
                        <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong> <br />
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </p>

                    <p>
                        <strong> Lorem Ipsum is simply dummy text.</strong> <br />
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </p>
                </span>

                <button type="button" class="btn btn-primary" id="boton" style="margin-bottom:20px;"> Más Información</button>
            </div>
        </section>
        <section class="row" style="color:#424242;">
            <div class="col-md-12">
                <strong><p>MÁS ESTADÍSTICAS SOBRE EL TEMA</p></strong>
                <h4>
                    Uso de los medios de comunicación en España
                </h4>
            </div>
        </section>
        <!--Secccion editoriales-->
        <section class="row editorial justify-content-between">
            <div class="col-md-6" style="background:#ffffff; box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.20);">
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.
                </p>
            </div>
            <div class="col-md-6" style="background:#ffffff; box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.20);">
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.
                </p>
            </div>
        </section>
        <section class="row widgets justify-content-between">
            <div class="col-md-6" style="background:#ffffff; box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.20);">
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.
                </p>
            </div>
            <div class="col-md-6" style="background:#ffffff; box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.20);">
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.
                </p>
            </div>
        </section>
        <!--search bar-->
        <div class="row justify-content-center mb-5" style="background:#fff;">
            <div class="col-12 col-md-10 col-lg-8">
                <h4 style="color:#424242;">Descubra Data Intelligence</h4>
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Encuentre informes y topicos">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
        <!--Precio-->
        <section class="pricing py-5">
            <div class="container">
                <div class="row">
                    <!-- Free Tier -->
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                                <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                </ul>
                                <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                            </div>
                        </div>
                    </div>
                    <!-- Plus Tier -->
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                                <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                </ul>
                                <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                            </div>
                        </div>
                    </div>
                    <!-- Pro Tier -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                                <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
                                </ul>
                                <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer class="row">
        <div class="col">
            <h4 style="padding-left:50px;">Footer</h4>
        </div>

    </footer>
    <script src="~/Scripts/OcultarBoton.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</body>
</html>