@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?y9njme');
    src: url('fonts/icomoon.eot?y9njme#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?y9njme') format('truetype'), url('fonts/icomoon.woff?y9njme') format('woff'), url('fonts/icomoon.svg?y9njme#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Icono_dataIntelligence_Rojo .path1:before {
    content: "\e902";
    color: #e20815;
    margin-left: 0.099609375em;
}

.icon-Icono_dataIntelligence_Rojo .path2:before {
    content: "\e903";
    color: #e30a16;
    margin-left: -0.599609375em;
    padding-right: 0.3em;
}
/*
.icon-shopify:before {
    content: "\e900";
    color: #7ab55c;
}
*/
.icon-tiktok:before {
    content: "\e901";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-linkedin:before {
    content: "\eac9";
}

.icon-pinterest:before {
    content: "\ead1";
}
