
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<h2>Monitoreo de Servicios</h2>
<table class="default">
    <tr>
        <th>Nombre</th>
        <th>URL</th>
        <th>Condicion</th>
    </tr>
    @foreach (var item in ViewBag.resultado)
    {
        <tr>
            <td>@item.Nombre</td>

            <td>@item.URL</td>

            <td>if (@item.Disponibilidad == True)
                {
                    <img class="img-fluid" style="max-width: 5%; height: auto; margin-left:2%;" src="~/Content/img/circulo_verde.png"/>
                }
                else
                {
                    <img class="img-fluid" style="max-width: 5%; height: auto; margin-left:2%;" src="~/Content/img/circulo_rojo.png" />
                }
            </td>
        </tr>
    }

</table>